<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1>You are successfully logout.</h1>
            <button class="btn bg-primary btn-lg text-white"><a th:href="@{/}" href="#" id="signout" >Go To Home</a></button>
        </div>

    </section>
</body>
</html>