<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is home page</title>
</head>
<body>
    <section>
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 offset-md-3">
					<div class="my-card">
						
						
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  							<p th:text="${session.message.content}"></p>
  							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>

						
						<div class="text-center">
							<img style="width: 100px;" src="" th:src="@{/img/sign-form.png}" alt="" />
						</div>
						
						<h1 class="text-center">Register Here</h1>
						
						<form  th:action="@{/do_register}" method="post" th:object="${client}">
							
							<!--first name field -->
							  <div class="form-group row">
							    <div class="col">
									<label for="first-name-field">First Name</label>
							    
								    <input 
								    name="firstName"
								    type="text" 
								    class="form-control" 
								    id="first-name-field" 
								    aria-describedby="emailHelp"
								    placeholder="Enter here"
								    required
								    th:value="${client.firstName}"
								    />
								</div>
							    
							    <!--last name field-->
							  <div class="col">
							    <label for="last-name-field">Last Name</label>
							    
							    <input 
							    name="lastName"
							    type="text" 
							    class="form-control" 
							    id="last-name-field" 
							    aria-describedby="emailHelp"
							    placeholder="Enter here"
							    required
							    th:value="${client.lastName}"
							    />
							  </div>
							  
							  </div>
							  
							  
							  
							  
							  <!--email field-->
							  <div class="form-group">
							    <label for="email-field">Email</label>
							    
							    <input 
							    dirname="email"
							    type="email" 
							    class="form-control" 
							    id="email-field" 
							    aria-describedby="emailHelp"
							    placeholder="Enter here"
							    required
							    th:value="${client.email}"
							    />
							  </div>
							  
							  <!--password field-->
							  <div class="form-group">
							    <label for="password-field">Password</label>
							     
							    <input 
							    name="password"
							    type="password" 
							    class="form-control" 
							    id="password-field" 
							    aria-describedby="emailHelp"
							    placeholder="Enter here"
							    required
							    />
							  </div>
							  
							  <div class="form-group mt-2">
								  <textarea value="${client.about}" class="form-control" placeholder="Leave somthing about you" name="about" id="" cols="30" rows="10"></textarea>
							</div>
							
							<!-- terms and condition -->
							<div class="form-check form-group">
								  <input name="agreement" class="form-check-input" type="checkbox" value="true" id="flexCheckDefault">
								  <label class="form-check-label" for="flexCheckDefault">
								    Agree with terms and conditions
								  </label>
							</div>
							
							<div class="container text-center">
								
								<button type="submit" class="btn bg-primary text-light mt-3">
									Submit
								</button>
								
								
								<button type="reset" class="btn bg-danger text-light mt-3">
									Reset
								</button>
								
							</div>
							  
						</form>
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>